# Ignore everything by default
*

# Allow only what we need for the server deployment
!showcase/server/
!showcase/angular/
!showcase/assets/
!showcase/js/
!extension/manifest.json

# Re-ignore things inside those dirs we don't need
showcase/server/node_modules
showcase/server/fsb-data.db
showcase/server/.env
showcase/server/*.log
showcase/angular/node_modules
showcase/angular/dist
